@import "variables";

@mixin header-font-query {
  font-size: $largeHeaderFontSize;

  @media (max-width: 790px) {
    font-size: $defaultFontSize;
  }
}

@mixin content-font-query {
  font-size: $defaultFontSize;

  @media (max-width: 790px) {
    font-size: $defaultMobileFontSize;
  }
}

@mixin article-border-bottom-custom {
  content: "";
  display: block;
  max-width: 100%;
  height: 1px;
  background: darken($clay, 15%);
}
