// colors

$mainWhite: #f0f5f9;
$lightTangerine: #e6ae35;
$darkTangerine: #bb5104;
$darkGrey: #2a2928;
$clay: #8a7d58;
$greyGreen: #6a7664;
$mainTxtColor: #fff;
$secondaryTxtColor: #202020;

// fonts
$defaultFontSize: 21px;
$headerFontSize: 34px;
$largeHeaderFontSize: 50px;
$defaultMobileFontSize: 16px;
$smallerMobileFontSize: 14px;
