@import "variables";
@import "mixins";
@import "keyframes";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  line-height: 1.6;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  scrollbar-color: $green $black;
  scrollbar-width: thin;
}

body {
  background: $black;
}

main {
  width: 99vw;
  max-width: 50em;
  display: flex;
  flex-flow: row wrap;
  place-items: flex-start;
  justify-content: space-evenly;
  padding: 2em 0 0 0;
  min-height: 25em;
  background: $black;
  background: $orange;
  border-radius: 2em;
}

form {
  display: flex;
  justify-content: center;
  place-items: center;
  width: 90vw;
  max-width: 50em;
  padding: 1em 0 0 0;

  input {
    background: transparent;
    padding: 0.5em 0.25em;
    outline: none;
    border: none;
    box-shadow: 0em 0.18em 0.12em -0.12em $white;
    font-size: $defaultFontSizeQuery;
    color: $white;
    font-family: inherit;
    transition: box-shadow 0.25s ease-in-out;
    flex: 1;
    &:focus {
      box-shadow: 0.18em 0.18em 0.18em -0.06em $white,
        -0.12em -0.12em 0.18em -0.06em $white;
    }

    &::placeholder {
      opacity: 1;
      color: $white;
    }
  }

  button {
    border: none;
    outline: none;
    background: none;
    color: $white;
    font-size: inherit;
    padding: 0.5em;
    display: inline-block;
    cursor: pointer;
  }
}

.App {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  min-height: 100vh;
  place-items: start center;
  gap: 2em;
}

img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  display: block;
}

.loading {
  width: 8em;
  height: 8em;
  background: transparent;
  border: 0.15em solid $white;
  border-top: 0.15em solid transparent;
  border-bottom: 0.15em solid transparent;
  border-radius: 50%;
  animation: loading 1.5s linear infinite;
}

.app-header {
  font-size: $desktopHeaderSizeQuery;
  text-transform: uppercase;
  color: $white;
}

article {
  width: 100%;
  display: grid;
  gap: 2em;
  place-items: center;
}

.city-card {
  color: $white;
  padding: 0.5em;
  display: grid;
  gap: 1.5em;
  grid-template-columns: repeat(1, 1fr);
  border-radius: 2em;
  width: 95%;
  margin: 0 auto;
  animation: fade-in 1s ease-in-out forwards;
  transition: opacity 0.25s ease-in-out;
  box-shadow: 0 0 0.5em $black;
  text-shadow: 0.05em 0.05em 0.1em $black;
  .city-card__header--country {
    font-size: 60%;
    font-weight: 200;
  }

  h2 {
    margin: 0 auto;
    text-align: center;
    font-size: $desktopLargeHeaderQuery;
    max-width: 30ch;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.025em;
    text-shadow: 0.05em 0.05em 0.1em $black;
    word-wrap: break-word;
  }

  .city-card__description {
    display: flex;
    place-self: center;
    place-items: flex-start;
    justify-content: center;
    gap: 1em;
    text-align: right;

    .city-card__description__temps {
      :nth-child(1) {
        font-size: $desktopLargeHeaderQuery;
        font-weight: 600;

        span {
          font-size: 80%;
          font-weight: 200;
        }
      }
      :nth-child(2) {
        font-size: $desktopHeaderSizeQuery;
        font-weight: 200;
        font-style: italic;
      }
    }
  }
}

.city-card__additional {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  place-items: center;
  background: $white;
  border-radius: 2em;
  width: 95%;
  margin: 0 auto;

  .city-card__additional--wind,
  .city-card__additional--humidity,
  .city-card__additional--visibility {
    text-align: center;
    font-size: $defaultFontSizeQuery;
    padding: 1em;
    svg {
      color: $orange;
    }
    :nth-child(3) {
      @include font-weight();
      font-size: 80%;
      color: lighten($black, 20%);
    }
  }
}

.city-card__additional-wrapper-paint {
  width: 100%;
  background: linear-gradient(180deg, $orange 50%, $whiteCoffe 50%);
}

.warm {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../../images/warm.png") no-repeat center center/cover;
}

.cold {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../../images/cold.png") no-repeat center center/cover;
}

.details-cards-cont {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(1, 1fr);
  gap: 0.5em 0.5em;
  padding: 0.5em;
  background: $whiteCoffe;
  padding: 2em 0.5em;
  border-radius: 0 0 2em 2em;
}

.details-cards__card {
  color: $black;
  display: flex;
  flex-flow: row wrap;
  animation: fade-in 0.5s ease-in-out forwards;
  transition: all 0.25s ease-in-out;
  border-bottom: 0.05em solid rgba(0, 0, 0, 0.25);
  gap: 0 !important;

  @include font-weight();
  .details-cards__card--day {
    font-size: $defaultFontSizeQuery;
    flex: 0;
  }

  .details-cards__card--temps {
    font-size: $defaultFontSizeQuery;

    flex: 0 0 8em;
    text-align: right;
    span {
      font-size: 80%;
    }
  }

  .details-cards__card--description {
    display: flex;
    flex-flow: row wrap;
    place-items: center;
    justify-content: flex-end;
    text-align: right;
    flex: 2;
    font-size: $defaultFontSizeQuery;
    p {
      &::first-letter {
        text-transform: uppercase;
      }
    }
  }
}

.error {
  text-transform: uppercase;
  letter-spacing: 0.025em;
  color: $white;
  font-weight: 400;
  text-align: center;
}

footer {
  background: $black;
  width: 100%;
  place-self: end center;
  text-align: center;
  padding: 1em;

  a {
    font-weight: 400;
    color: $white;
    text-decoration: none;
    font-size: $defaultFontSizeQuery;

    @include font-weight();
  }
}
