@import "variables";
@import "mixins";
@import "keyframes";
@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  line-height: 1.6;
  scroll-behavior: smooth;
  font-family: "Roboto", sans-serif;
}

body {
  min-height: 100vh;
  position: relative;

  &::before {
    content: "";
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #141414;
  }
}

main {
  width: calc(100vw / 1.2);
  display: flex;
  flex-flow: row wrap;
  place-items: flex-start;
  justify-content: space-evenly;
  height: auto;
  gap: 2em;
}

form {
  height: 70px;
  display: flex;
  justify-content: space-between;
  place-items: center;
  gap: 1em;

  input {
    background: transparent;
    padding: 0.5em 0.25em;
    outline: none;
    border: none;
    box-shadow: 0px 2px 2px -2px $mainTxtColor;
    font-size: $defaultFontSize;
    color: $mainTxtColor;
    font-family: inherit;
    transition: box-shadow 0.25s ease-in-out;

    &:focus {
      box-shadow: 0px 3px 1px -1px $darkTangerine;
    }

    &::placeholder {
      opacity: 1;
      color: $mainTxtColor;
    }

    @media (max-width: 790px) {
      font-size: $defaultMobileFontSize;
    }
  }

  button {
    border: none;
    outline: none;
    background: none;
    color: $mainTxtColor;
    font-size: $defaultFontSize;
    padding: 0.5em;
    display: inline-block;
    cursor: pointer;
  }
}

.App {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  min-height: 100vh;
  place-items: start center;
}

img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  display: block;
  background: lighten($darkGrey, 35%);
  border-radius: 50%;
}

.app-header {
  place-self: start center;
  display: flex;
  flex-direction: column;
  place-items: center;
  gap: 2em;
  place-content: center;
  text-transform: uppercase;
  padding: 0.5em;
  h2 {
    color: $mainTxtColor;
    color: $mainTxtColor;
    @include header-font-query();
    font-family: "Montserrat", sans-serif;
  }
}

.city-card {
  color: $mainTxtColor;
  padding: 0.5em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 10px;
  box-shadow: 2.5px 2.5px 15px 2.5px #000;

  background: linear-gradient(rgba(20, 20, 20, 0.7), rgba(20, 20, 20, 0.7)),
    url("../../images/warm.png") no-repeat center center/cover;
  min-width: 20vw;
  place-self: start;
  animation: fade-in 1s ease-in-out forwards;
  transition: opacity 0.25s ease-in-out;
  @media (max-width: 1300px) {
    flex-grow: 1;
  }

  span {
    font-weight: 600;
    text-shadow: 2px 2px 5px #000;
  }

  header {
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.025em;
    @include header-font-query();
    text-shadow: 2px 2px 5px #000;
  }

  .city-card__main {
    font-size: $largeHeaderFontSize;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    text-shadow: 2px 2px 5px #000;
  }

  .city-card__additional {
    @include content-font-query();
    padding: 0.5em 0;
    text-shadow: 2px 2px 5px #000;
  }

  .city-card__description {
    padding: 0.5em 0;
    p {
      @include content-font-query();
      text-shadow: 2px 2px 5px #000;
      &::first-letter {
        text-transform: uppercase;
      }
    }
  }

  .get-detailed-forecast {
    place-self: start;
    padding: 0.5em 0.75em;
    font-family: inherit;
    text-transform: uppercase;
    letter-spacing: 0.025em;
    border: none;
    outline: none;
    background: transparent;
    border-radius: 10px;
    cursor: pointer;
    font-size: inherit;
    color: $mainTxtColor;
    transition: all 0.25s ease-in-out;
    background: #010101;
    &:hover {
      background: #141414;
      color: $mainTxtColor;
    }
  }
}

.cold {
  background: linear-gradient(rgba(20, 20, 20, 0.7), rgba(20, 20, 20, 0.7)),
    url("../../images/cold.png") no-repeat center center/cover;
}

.details-cards-cont {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1em;
  flex-grow: 1;
  min-width: 70%;
  place-self: center;

  @media (max-width: 790px) {
    grid-template-columns: repeat(1, 1fr);
  }
}

.details-cards__card {
  padding: 0.5em;
  color: $secondaryTxtColor;
  background: #ddd;
  border-radius: 10px;
  box-shadow: 3px 3px 20px -2.5px #000000;
  animation: fade-in 0.5s ease-in-out forwards;
  transition: opacity 0.25s ease-in-out;

  @media (max-width: 790px) {
    width: 100%;
    margin: 0 auto;
  }

  span {
    color: darken($darkTangerine, 10%);
  }

  header {
    font-size: $defaultFontSize;

    &::after {
      @include article-border-bottom-custom();
    }

    span {
      color: darken($darkTangerine, 10%);
      font-size: $defaultMobileFontSize;
    }
  }

  .details-cards__card--temps {
    @include content-font-query();
  }

  .details-cards__card--wind {
    @include content-font-query();
    &::after {
      @include article-border-bottom-custom();
    }
  }

  .details-cards__card--description {
    @include content-font-query();
    p {
      &::first-letter {
        text-transform: uppercase;
      }
    }
  }
}

.error {
  text-transform: uppercase;
  letter-spacing: 0.025em;
  color: $mainTxtColor;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  text-align: center;
}

footer {
  background: #141414;
  width: 100%;
  place-self: end center;
  header {
    display: flex;
    place-items: center;
    justify-content: center;
    a {
      font-weight: 400;
      color: #ddd;
      text-align: center;
      text-decoration: none;
      font-size: $defaultFontSize;
      padding: 0.5em;
    }
  }
}
