@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&display=swap");
@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  height: 100%;
  line-height: 1.6;
  scroll-behavior: smooth;
  font-family: "Roboto", sans-serif;
}

body {
  min-height: 100vh;
  position: relative;
}

body::before {
  content: "";
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #141414;
}

main {
  width: calc(100vw / 1.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  place-items: flex-start;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  height: auto;
  gap: 2em;
}

form {
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  place-items: center;
  gap: 1em;
}

form input {
  background: transparent;
  padding: 0.5em 0.25em;
  outline: none;
  border: none;
  -webkit-box-shadow: 0px 2px 2px -2px #fff;
          box-shadow: 0px 2px 2px -2px #fff;
  font-size: 21px;
  color: #fff;
  font-family: inherit;
  -webkit-transition: -webkit-box-shadow 0.25s ease-in-out;
  transition: -webkit-box-shadow 0.25s ease-in-out;
  transition: box-shadow 0.25s ease-in-out;
  transition: box-shadow 0.25s ease-in-out, -webkit-box-shadow 0.25s ease-in-out;
}

form input:focus {
  -webkit-box-shadow: 0px 3px 1px -1px #bb5104;
          box-shadow: 0px 3px 1px -1px #bb5104;
}

form input::-webkit-input-placeholder {
  opacity: 1;
  color: #fff;
}

form input:-ms-input-placeholder {
  opacity: 1;
  color: #fff;
}

form input::-ms-input-placeholder {
  opacity: 1;
  color: #fff;
}

form input::placeholder {
  opacity: 1;
  color: #fff;
}

@media (max-width: 790px) {
  form input {
    font-size: 16px;
  }
}

form button {
  border: none;
  outline: none;
  background: none;
  color: #fff;
  font-size: 21px;
  padding: 0.5em;
  display: inline-block;
  cursor: pointer;
}

.App {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
  min-height: 100vh;
  place-items: start center;
}

img {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
  background: #85827f;
  border-radius: 50%;
}

.app-header {
  place-self: start center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  place-items: center;
  gap: 2em;
  place-content: center;
  text-transform: uppercase;
  padding: 0.5em;
}

.app-header h2 {
  color: #fff;
  color: #fff;
  font-size: 50px;
  font-family: "Montserrat", sans-serif;
}

@media (max-width: 790px) {
  .app-header h2 {
    font-size: 21px;
  }
}

.city-card {
  color: #fff;
  padding: 0.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 10px;
  -webkit-box-shadow: 2.5px 2.5px 15px 2.5px #000;
          box-shadow: 2.5px 2.5px 15px 2.5px #000;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(20, 20, 20, 0.7)), to(rgba(20, 20, 20, 0.7))), url("../../images/warm.png") no-repeat center center/cover;
  background: linear-gradient(rgba(20, 20, 20, 0.7), rgba(20, 20, 20, 0.7)), url("../../images/warm.png") no-repeat center center/cover;
  min-width: 20vw;
  place-self: start;
  -webkit-animation: fade-in 1s ease-in-out forwards;
          animation: fade-in 1s ease-in-out forwards;
  -webkit-transition: opacity 0.25s ease-in-out;
  transition: opacity 0.25s ease-in-out;
}

@media (max-width: 1300px) {
  .city-card {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}

.city-card span {
  font-weight: 600;
  text-shadow: 2px 2px 5px #000;
}

.city-card header {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  font-size: 50px;
  text-shadow: 2px 2px 5px #000;
}

@media (max-width: 790px) {
  .city-card header {
    font-size: 21px;
  }
}

.city-card .city-card__main {
  font-size: 50px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  text-shadow: 2px 2px 5px #000;
}

.city-card .city-card__additional {
  font-size: 21px;
  padding: 0.5em 0;
  text-shadow: 2px 2px 5px #000;
}

@media (max-width: 790px) {
  .city-card .city-card__additional {
    font-size: 16px;
  }
}

.city-card .city-card__description {
  padding: 0.5em 0;
}

.city-card .city-card__description p {
  font-size: 21px;
  text-shadow: 2px 2px 5px #000;
}

@media (max-width: 790px) {
  .city-card .city-card__description p {
    font-size: 16px;
  }
}

.city-card .city-card__description p::first-letter {
  text-transform: uppercase;
}

.city-card .get-detailed-forecast {
  place-self: start;
  padding: 0.5em 0.75em;
  font-family: inherit;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  border: none;
  outline: none;
  background: transparent;
  border-radius: 10px;
  cursor: pointer;
  font-size: inherit;
  color: #fff;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  background: #010101;
}

.city-card .get-detailed-forecast:hover {
  background: #141414;
  color: #fff;
}

.cold {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(20, 20, 20, 0.7)), to(rgba(20, 20, 20, 0.7))), url("../../images/cold.png") no-repeat center center/cover;
  background: linear-gradient(rgba(20, 20, 20, 0.7), rgba(20, 20, 20, 0.7)), url("../../images/cold.png") no-repeat center center/cover;
}

.details-cards-cont {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1em;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  min-width: 70%;
  place-self: center;
}

@media (max-width: 790px) {
  .details-cards-cont {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
}

.details-cards__card {
  padding: 0.5em;
  color: #202020;
  background: #ddd;
  border-radius: 10px;
  -webkit-box-shadow: 3px 3px 20px -2.5px #000000;
          box-shadow: 3px 3px 20px -2.5px #000000;
  -webkit-animation: fade-in 0.5s ease-in-out forwards;
          animation: fade-in 0.5s ease-in-out forwards;
  -webkit-transition: opacity 0.25s ease-in-out;
  transition: opacity 0.25s ease-in-out;
}

@media (max-width: 790px) {
  .details-cards__card {
    width: 100%;
    margin: 0 auto;
  }
}

.details-cards__card span {
  color: #893b03;
}

.details-cards__card header {
  font-size: 21px;
}

.details-cards__card header::after {
  content: "";
  display: block;
  max-width: 100%;
  height: 1px;
  background: #5b533a;
}

.details-cards__card header span {
  color: #893b03;
  font-size: 16px;
}

.details-cards__card .details-cards__card--temps {
  font-size: 21px;
}

@media (max-width: 790px) {
  .details-cards__card .details-cards__card--temps {
    font-size: 16px;
  }
}

.details-cards__card .details-cards__card--wind {
  font-size: 21px;
}

@media (max-width: 790px) {
  .details-cards__card .details-cards__card--wind {
    font-size: 16px;
  }
}

.details-cards__card .details-cards__card--wind::after {
  content: "";
  display: block;
  max-width: 100%;
  height: 1px;
  background: #5b533a;
}

.details-cards__card .details-cards__card--description {
  font-size: 21px;
}

@media (max-width: 790px) {
  .details-cards__card .details-cards__card--description {
    font-size: 16px;
  }
}

.details-cards__card .details-cards__card--description p::first-letter {
  text-transform: uppercase;
}

.error {
  text-transform: uppercase;
  letter-spacing: 0.025em;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  text-align: center;
}

footer {
  background: #141414;
  width: 100%;
  place-self: end center;
}

footer header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer header a {
  font-weight: 400;
  color: #ddd;
  text-align: center;
  text-decoration: none;
  font-size: 21px;
  padding: 0.5em;
}
