@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap");
@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes loading {
  0% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
  100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}

@keyframes loading {
  0% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
  100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  line-height: 1.6;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  scrollbar-color: #346751 #161616;
  scrollbar-width: thin;
}

body {
  background: #161616;
}

main {
  width: 99vw;
  max-width: 50em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  place-items: flex-start;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 2em 0 0 0;
  min-height: 25em;
  background: #161616;
  background: #c84b31;
  border-radius: 2em;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  place-items: center;
  width: 90vw;
  max-width: 50em;
  padding: 1em 0 0 0;
}

form input {
  background: transparent;
  padding: 0.5em 0.25em;
  outline: none;
  border: none;
  -webkit-box-shadow: 0em 0.18em 0.12em -0.12em #e9e9e9;
          box-shadow: 0em 0.18em 0.12em -0.12em #e9e9e9;
  font-size: clamp(0.85em, 1.25em, 1.75vw);
  color: #e9e9e9;
  font-family: inherit;
  -webkit-transition: -webkit-box-shadow 0.25s ease-in-out;
  transition: -webkit-box-shadow 0.25s ease-in-out;
  transition: box-shadow 0.25s ease-in-out;
  transition: box-shadow 0.25s ease-in-out, -webkit-box-shadow 0.25s ease-in-out;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

form input:focus {
  -webkit-box-shadow: 0.18em 0.18em 0.18em -0.06em #e9e9e9, -0.12em -0.12em 0.18em -0.06em #e9e9e9;
          box-shadow: 0.18em 0.18em 0.18em -0.06em #e9e9e9, -0.12em -0.12em 0.18em -0.06em #e9e9e9;
}

form input::-webkit-input-placeholder {
  opacity: 1;
  color: #e9e9e9;
}

form input:-ms-input-placeholder {
  opacity: 1;
  color: #e9e9e9;
}

form input::-ms-input-placeholder {
  opacity: 1;
  color: #e9e9e9;
}

form input::placeholder {
  opacity: 1;
  color: #e9e9e9;
}

form button {
  border: none;
  outline: none;
  background: none;
  color: #e9e9e9;
  font-size: inherit;
  padding: 0.5em;
  display: inline-block;
  cursor: pointer;
}

.App {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
  min-height: 100vh;
  place-items: start center;
  gap: 2em;
}

img {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}

.loading {
  width: 8em;
  height: 8em;
  background: transparent;
  border: 0.15em solid #e9e9e9;
  border-top: 0.15em solid transparent;
  border-bottom: 0.15em solid transparent;
  border-radius: 50%;
  -webkit-animation: loading 1.5s linear infinite;
          animation: loading 1.5s linear infinite;
}

.app-header {
  font-size: clamp(1.25em, 2em, 2.5vw);
  text-transform: uppercase;
  color: #e9e9e9;
}

article {
  width: 100%;
  display: -ms-grid;
  display: grid;
  gap: 2em;
  place-items: center;
}

.city-card {
  color: #e9e9e9;
  padding: 0.5em;
  display: -ms-grid;
  display: grid;
  gap: 1.5em;
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
  border-radius: 2em;
  width: 95%;
  margin: 0 auto;
  -webkit-animation: fade-in 1s ease-in-out forwards;
          animation: fade-in 1s ease-in-out forwards;
  -webkit-transition: opacity 0.25s ease-in-out;
  transition: opacity 0.25s ease-in-out;
  -webkit-box-shadow: 0 0 0.5em #161616;
          box-shadow: 0 0 0.5em #161616;
  text-shadow: 0.05em 0.05em 0.1em #161616;
}

.city-card .city-card__header--country {
  font-size: 60%;
  font-weight: 200;
}

.city-card h2 {
  margin: 0 auto;
  text-align: center;
  font-size: clamp(1.8em, 4em, 3vw);
  max-width: 30ch;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  text-shadow: 0.05em 0.05em 0.1em #161616;
  word-wrap: break-word;
}

.city-card .city-card__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-self: center;
  place-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1em;
  text-align: right;
}

.city-card .city-card__description .city-card__description__temps :nth-child(1) {
  font-size: clamp(1.8em, 4em, 3vw);
  font-weight: 600;
}

.city-card .city-card__description .city-card__description__temps :nth-child(1) span {
  font-size: 80%;
  font-weight: 200;
}

.city-card .city-card__description .city-card__description__temps :nth-child(2) {
  font-size: clamp(1.25em, 2em, 2.5vw);
  font-weight: 200;
  font-style: italic;
}

.city-card__additional {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  place-items: center;
  background: #e9e9e9;
  border-radius: 2em;
  width: 95%;
  margin: 0 auto;
}

.city-card__additional .city-card__additional--wind,
.city-card__additional .city-card__additional--humidity,
.city-card__additional .city-card__additional--visibility {
  text-align: center;
  font-size: clamp(0.85em, 1.25em, 1.75vw);
  padding: 1em;
}

.city-card__additional .city-card__additional--wind svg,
.city-card__additional .city-card__additional--humidity svg,
.city-card__additional .city-card__additional--visibility svg {
  color: #c84b31;
}

.city-card__additional .city-card__additional--wind :nth-child(3),
.city-card__additional .city-card__additional--humidity :nth-child(3),
.city-card__additional .city-card__additional--visibility :nth-child(3) {
  font-weight: 400;
  font-size: 80%;
  color: #494949;
}

@media (max-width: 768px) {
  .city-card__additional .city-card__additional--wind :nth-child(3),
  .city-card__additional .city-card__additional--humidity :nth-child(3),
  .city-card__additional .city-card__additional--visibility :nth-child(3) {
    font-weight: 200;
  }
}

.city-card__additional-wrapper-paint {
  width: 100%;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #c84b31), color-stop(50%, #ecdbba));
  background: linear-gradient(180deg, #c84b31 50%, #ecdbba 50%);
}

.warm {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("../../images/warm.png") no-repeat center center/cover;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../images/warm.png") no-repeat center center/cover;
}

.cold {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("../../images/cold.png") no-repeat center center/cover;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../images/cold.png") no-repeat center center/cover;
}

.details-cards-cont {
  display: -ms-grid;
  display: grid;
  width: 100%;
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
  gap: 0.5em 0.5em;
  padding: 0.5em;
  background: #ecdbba;
  padding: 2em 0.5em;
  border-radius: 0 0 2em 2em;
}

.details-cards__card {
  color: #161616;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-animation: fade-in 0.5s ease-in-out forwards;
          animation: fade-in 0.5s ease-in-out forwards;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  border-bottom: 0.05em solid rgba(0, 0, 0, 0.25);
  gap: 0 !important;
  font-weight: 400;
}

@media (max-width: 768px) {
  .details-cards__card {
    font-weight: 200;
  }
}

.details-cards__card .details-cards__card--day {
  font-size: clamp(0.85em, 1.25em, 1.75vw);
  -webkit-box-flex: 0;
      -ms-flex: 0;
          flex: 0;
}

.details-cards__card .details-cards__card--temps {
  font-size: clamp(0.85em, 1.25em, 1.75vw);
  -webkit-box-flex: 0;
      -ms-flex: 0 0 8em;
          flex: 0 0 8em;
  text-align: right;
}

.details-cards__card .details-cards__card--temps span {
  font-size: 80%;
}

.details-cards__card .details-cards__card--description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  place-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  text-align: right;
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  font-size: clamp(0.85em, 1.25em, 1.75vw);
}

.details-cards__card .details-cards__card--description p::first-letter {
  text-transform: uppercase;
}

.error {
  text-transform: uppercase;
  letter-spacing: 0.025em;
  color: #e9e9e9;
  font-weight: 400;
  text-align: center;
}

footer {
  background: #161616;
  width: 100%;
  place-self: end center;
  text-align: center;
  padding: 1em;
}

footer a {
  font-weight: 400;
  color: #e9e9e9;
  text-decoration: none;
  font-size: clamp(0.85em, 1.25em, 1.75vw);
  font-weight: 400;
}

@media (max-width: 768px) {
  footer a {
    font-weight: 200;
  }
}
